.container {
  margin: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 400px;

  h2 {
    font-family: 'Rakkas', serif;
    font-size: 32px;
    color: #166461;
    line-height: 1;
    margin: 0;
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  h3 {
    font-family: 'Rakkas', serif;
    font-size: 24px;
    color: #166461;
    line-height: 1;
    margin: 0;
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .text-row-goal {
    font-family: 'Rakkas', serif;
    font-size: 24px;
    color: #166461;
    line-height: 1;
    margin: 0;
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    span {
      opacity: 0.55;
    }
  }

  .photos-row {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    .how-to-photo {
      flex: 1;
      width: 50%;
      height: auto;
      object-fit: contain;
      border-radius: 8px;
    }
  }

  .text-row {
    font-family: 'Rakkas', serif;
    font-size: 24px;
    color: #166461;
    line-height: 1;
    margin: 0;
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    p {
      margin: 0;
      
      &:nth-child(2) {
        opacity: 0.55;
      }
    }
  }
}

