<div class="container">
  <page-header [showBackButton]="true" class="header"></page-header>
  
  <div class="content">
    <h2>How to Play:</h2>
    <h3>Every day, Gatekeepr picks a new artist.</h3>
    <p class="text-row-goal">Your Goal: <span>Name songs by today’s artist.</span></p>
    
    <div class="photos-row">
      <img src="/assets/images/how-to1.png" alt="How to play screenshot 1" class="how-to-photo" />
      <img src="/assets/images/how-to2.png" alt="How to play screenshot 2" class="how-to-photo" />
    </div>
    
    <div class="text-row">
      <p>Type a song title into the guess box.</p>
      <p>Autocomplete will help, but you can type any title you think is correct.</p>
    </div>
    <div class="text-row">
      <p>You have 3 lives.</p>
      <p>Incorrect guesses cost a life.</p>
    </div>
    <div class="text-row">
      <p>Tier up by getting songs right. </p>
      <p>The more correct songs you name, the higher your tier goes.</p>
    </div>
    <h3>Tip: Try deep cuts! this game rewards real fans.</h3>
  </div>
</div>
